@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Francois+One&family=Oswald&display=swap");

* {
    box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
    --bg-color: #313149;
    --link-color: #56CACF;
    --link-hover-color: #E64E33;
    --color-4: #DC429D;
    --color-5: #5F6273;

    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Droid Serif", serif;
    --main-text-color: #000;

    --white-space: 1rem;
}


a {
    transition: all 3s;
}

button:hover {
    transform: scale(1.1);
    
    
}

button:active {
    background-color: var(--bg-color);
}

a:hover {
    color: var(--link-hover-color);
    font-size: 4rem;
}

html {
    font-size: 100%;
    font-family: var(--primary-font);
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2 * var(--white-space));
}

.full-width {
    background: var(--bg-color);
    color: white;
    width: 100%;
}

.header-wrapper h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: 0.75em;
    font-weight: bold;
    color: white;
}

.header-wrapper h2 {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    margin: var(--white-space) 0;
}

.header-wrapper h3 {
    font-size: 1.2rem;
    font-style: italic;
}

.header-wrapper h4 {
    font-size: 0.8rem;
}

main {
    padding: calc(2 * var(--white-space));
}

section {
    margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
    font-style: italic;
    font-size: 1.3rem;
    color: #777;
    margin: 0.5rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

.swatches li {
    margin-right: 5vw;
    height: 15vw;
    width: 20%;
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    background-color: var(--bg-color);
}

.color-swatch-2 {
    background-color: var(--link-color);
}

.color-swatch-3 {
    background-color: var(--link-hover-color);
}

.color-swatch-4 {
    background-color: var(--color-4);
}

.color-swatch-5 {
    background-color: var(--color-5);
}

.textures li {
    height: 30vw;
    width: 40%;
    margin-right: 5vw;
}

.texture-swatch-1 {
    background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
    background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
    background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
    background: url(../img/white_paperboard.png) top left repeat;
}

.images ul {
    flex-direction: column;
    text-align: center;
}

.images li {
    display: block;
    /*margin-right: 5vw;*/
    margin-bottom: 1rem;
}

button {
    padding: 1rem;
   background: var(--link-color);
    text-align: center;
    text-decoration: none;
    font: bold 1.25em/1 var(--primary-font);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 1rem 1rem 0;
}

.primary-button {
    background-image: linear-gradient(to left, #56CACF, #00D18F);
    border-radius: 100px;
}

.secondary-button {
     border-radius: 40px;
    
    background-image: linear-gradient(to right, #E64E33, #C140A5);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}

button:focus,
button:active,
button:focus-within {
    outline: 0;
    
}

.typography-main {
    color: var(--main-text-color);
}

.h1-sample {
    font-size: 2.4rem;
    font-family: 'Francois One', sans-serif;
}

.h2-sample {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 1.25rem;
}

p.typography-sample {
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: italic;
}

em {
    font-style: italic;
}

a {
    font-family: var(--primary-font);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

p[class*="font-details-"] {
    margin-top: 0.5rem;
    margin-bottom: calc(2 * var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 2rem;
    opacity: 0.5;
}

.adjectives ul {
    flex-direction: column;
}

footer {
    font-style: italic;
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

    .textures li {
        height: 15vw;
    }
}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
